<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Chrometest">
        <parameter name="Browser" value="Chrome"/>
        <classes>
            <class name="testCases.TC_001_Account_Registration"/>
            <class name="testCases.TC_002_Account_Registration_Failure"/>
            <class name="testCases.TC_006_Shopify_Pagination"/>
            <class name="testCases.TC_007_Wishlist"/>
        </classes>
    </test>
</suite>

